<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
    <!--<add name="admin" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=154.113.0.163)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=bvn_enrollment;Password=password;Min Pool Size=0;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=0;Decr Pool Size=2"/> -->
       <!--<add name="admin" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=154.113.0.163)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=bvn_enrollment;Password=password;Connection Timeout=600;"/> -->
    <add name="admin" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=chamsdb001)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=bvn_enrollment;Password=password;Connection Timeout=600;"/>
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
     <customErrors mode="Off"/>
  
     <!--<authentication mode="Forms">
          <forms loginUrl="login.aspx" path="/"
           protection="All" timeout="10">
          </forms>
        </authentication>-->

    <!--<authorization>
          <deny users="?"/>
        </authorization>-->
    
    <!--<sessionState timeout="60"  />-->

  </system.web>

<appSettings>
  <add key="ValidationSettings: UnobtrusiveValidationMode" value="None"/>
</appSettings>
</configuration>